= form_tag '/users/update_password' do
  = field_set_tag do
    = password_field_tag :password, nil, class: "form-control field2", placeholder: "Old password", name: "user[password]"
    = password_field_tag :new_password, nil, class: "form-control field2", placeholder: "Confirm password", name: "user[password_confirmation]"
    = password_field_tag :new_password_confirmation, nil, class: "form-control field2", placeholder: "Confirm password", name: "user[password_confirmation]"
    = submit_tag "Update Password", class: "btn btn-success form-control field2"