= form_tag '/swits/create' do
  = field_set_tag do
    = text_field_tag :message, nil, class: "form-control field1", placeholder: "Username", name: "user[username]"
    = password_field_tag :password, nil, class: "form-control field1", placeholder: "password", name: "user[password]"
    = password_field_tag :password_confirmation, nil, class: "form-control field1", placeholder: "Confirm password", name: "user[password_confirmation]"
    = submit_tag "Sign Up", class: "btn btn-success form-control field1"